@model PROG301_MVC.Models.AerialVehicle

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Html.DisplayFor(model => model.Name) :: @Html.DisplayFor(model => model.ID)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaxAltitude" class="control-label"></label>
                <input asp-for="MaxAltitude" class="form-control" />
                <span asp-validation-for="MaxAltitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultAltitudeChange" class="control-label"></label>
                <input asp-for="DefaultAltitudeChange" class="form-control" />
                <span asp-validation-for="DefaultAltitudeChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAltitude" class="control-label"></label>
                <input asp-for="CurrentAltitude" class="form-control" />
                <span asp-validation-for="CurrentAltitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
